.hotel1-wrapp {
  display: flex;
  flex-direction: column;
  margin-top: 115px;

  /* text-align: center; */
}

.hotel1-sec1-wrapp {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background: var(--color-brand);
  min-height: 100vh;
}

.hotel1-sec1-base {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 5%;
  justify-content: space-between;
  padding-bottom: 5%;
}

.hotel-logo-part {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
}

.hotel-logo-text {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-golden);
}

.hotel-logo {
  max-width: 160px;
  /* width: 100%; */
}

.sec1-des-main-wrapp {
  display: flex;
  flex-direction: column;
  gap: 10%;
  flex: 1;

  /* justify-content: space-between; */
}

.sec1-des-wrapp {
  display: flex;
  gap: 7%;
}

.sec-hotel-name-wrapp {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-top: 15%;
  color: var(--color-golden);
  min-width: 200px;
  justify-content: center;
}

.sec-hotel-name-wrapp>p {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: -4px;
}

.sec-hotel-name-wrapp>h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -0.5px;
  margin-bottom: 14px;
  font-family: sans-serif;
  color: var(--color-golden);
  /* font-family: var(--font-base); */
}

.sec-hotel-name-wrapp>h3 {
  font-size: 35px;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: 0px;
  color: var(--color-golden);
  /* margin-bottom: 14px; */
}

.shr {
  width: 20%;
  height: 1px;
  background: var(--color-white);
}

.sec1-des-img-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex: 1;
}

.sec1-des-img {
  width: 80%;
  min-height: 640px;
  object-fit: cover;
}

.hotel1-text {
  font-size: 1.3rem;
  color: var(--color-white);
}

.hotel1-sec2-base {
  background: var(--color-white);
  min-height: 100vh;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hotel1-sec2-list-wrapp {
  color: var(--color-brand);
  list-style: disc;
  font-size: 1.6rem;
  font-weight: 600;
}

.hotel1-sec2-single-list {
  font-size: 18px;
}

.sec2-foot-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6%;
  /* justify-content: space-between; */
}

.sec2-foot-single {
  max-width: 300px;
  display: flex;
  width: 100%;
  gap: 10px;
  text-align: start;
  align-items: center;
}

.sec2-foot-single:nth-child(1) {
  align-items: flex-start;
}

.sec2-foot-single>p {
  font-size: 1.1rem;
  color: var(--color-black);
  font-weight: 400;
  flex: 8;
  text-align: start;
  margin-bottom: 0px !important;
  line-height: 22px;
}

.sec2-foot-single>a {
  font-size: 1.1rem;
  color: var(--color-black);
  font-weight: 400;
  flex: 8;
  text-align: start;
  line-height: 22px;
}

.sec2-foot-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: var(--color-black);
  background: var(--color-golden);
  padding: 5px;
  flex: 1;
}

.sec2-foot-no-wrapp {
  display: flex;
  flex-direction: column;
  width: auto;
  width: 100%;
  max-width: 300px;
  gap: 10px;
}

@media (min-width: 1000px) {
  .hotel1-sec1-base {
    padding-left: 1%;
    padding-bottom: 5%;
  }
}

@media (max-width: 920px) {
  .hotel1-sec1-base {
    flex-direction: column;
    gap: 2rem;
    padding: 0 2% 6% 2%;
  }

  .sec1-des-img {
    width: 100%;
  }

  .sec1-des-main-wrapp {
    gap: 1rem;
  }

  .hotel1-sec2-base {
    min-height: 77vh;
    max-width: 880px;
    /* margin: 0 auto; */
    padding: 0 5%;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .sec2-foot-wrapp {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 9%;
    justify-content: space-between;
    flex-direction: column;
    min-height: 225px;
  }
}

@media (max-width: 700px) {
  .sec-hotel-name-wrapp {
    min-width: none;
  }

  .sec-hotel-name-wrapp>h1 {
    margin-bottom: 14px;
    line-height: 33px;
    font-size: 35px;
    line-height: 1.2;
  }

  .sec-hotel-name-wrapp>p {
    font-size: 18px;
  }

  .sec-hotel-name-wrapp>h3 {
    font-size: 25px;
    line-height: 40px;
  }

  .sec1-des-img {
    min-height: 445px;
  }

  .hotel1-sec2-list-wrapp,
  .hotel1-text,
  .sec2-foot-single>p {
    font-size: 1rem;
  }

  .sec2-foot-icon {
    height: 30px;
    width: 30px;
    padding: 0;
    color: var(--color-golden);
    background: none;
    flex: 1 1;
  }

  .sec2-foot-single>p {
    font-size: 1rem;
  }
}